---
---
// Import frameworks and 3rd party code
@import 'fonts';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

// Import specific styles
@import 'colors';
@import 'variables';
@import 'headers';
@import 'navigation';
@import 'articles';
@import 'blog';
@import 'syntax';

body {
  background-color: $base02;
  margin: 0;

  a:hover {
    background-color: $link-background-reg;
  }
}

.container {
  @include outer-container;

  .content {
    @include media($not-mobile) {
      @include span-columns(8);
      @include shift(2);
      @include padding($sec-v-padding null $sec-v-padding null);
    }

    @include media($mobile) {
      @include span-columns(10);
      @include shift(1);
      @include padding($sec-v-padding null $sec-v-padding null);
      overflow: hidden;
    }
  }
}

a.footnote:before {
  content: '[';
}

a.footnote:after {
  content: ']';
}

// Typography
h1 {
  font-weight: 300;
}

h6 {
  font-size: $h6-font-size * 0.6;
  font-weight: 400;
}

.site-footer {
  @include position(fixed, null null 0 null);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  color: $base06;
  width: 100%;
  height: $footer-height;
  z-index: -1;
}

#error-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: $bg-404;
  color: $accent-404;

  h1 {
    font-size: 6em;
    font-weight: 100;
    text-align: center;
  }

  p {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
  }
}

