@mixin navigation-coloring($nav-background, $nav-accent) {
  & a,
  a:link,
  a:visited,
  a:active {
    border: 1px solid transparent;
    color: $nav-accent;
  }

  & a:hover {
    background-color: transparent;
    border: 1px solid $nav-accent;
  }

  & a:active {
    background-color: $nav-accent;
    color: $nav-background;
    border: 1px solid $nav-accent;
  }

  & a.active {
    background-color: $nav-accent;
    color: $nav-background;
    border: 1px solid $nav-accent;
  }
}

// Navigation
nav.main {
  .container .content {
    @include padding($nav-v-padding null $nav-v-padding null);
    margin-bottom: -100%;
  }

  text-align: right;

  @include media($mobile) {
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline;
      text-transform: uppercase;
      margin: 30px 10px;
    }
  }

  & a,
  a:link,
  a:visited,
  a:active {
    @include padding(0 6px 1px 6px);
    font-weight: 700;
    border-radius: 3px;
    line-heiht: 1em;
  }

  & a:hover {
    font-weight: 700;
  }
}

nav.blog {
  @extend nav.main;
  @include navigation-coloring(
    $bg-blog,
    $accent-blog
  );
}

nav.projects {
  @extend nav.main;
  @include navigation-coloring(
    $bg-projects,
    $accent-projects
  );

}

nav.about {
  @extend nav.main;
  @include navigation-coloring(
    $bg-about,
    $accent-about
  );
}

nav.error-not-found {
  @extend nav.main;
  @include navigation-coloring(
    $bg-404,
    $accent-404
  );
}
