// PROJECTS
header.projects {
  background:
    linear-gradient(transparentize($bg-projects, .55), transparentize($bg-projects, .55)),
    url('../images/projects.png') no-repeat center center;
  background-size: cover;
  color: $accent-projects;

  h1, h2, h3, h4, h5, h6 { background-color: transparentize(darken($bg-projects, 25%), .35) }
}

// ABOUT
header.about {
  background:
    linear-gradient(transparentize($bg-about, .55), transparentize($bg-about, .55)),
    url('../images/about.png') no-repeat top center;
  background-size: cover;

  color: $accent-about;

  h1, h2, h3, h4, h5, h6 { background-color: transparentize(darken($bg-about, 25%), .35) }
}
