// Import frameworks and 3rd party code
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "font-awesome";

// Breakpoints
$mobile: new-breakpoint(max-width 480px);
$not-mobile: new-breakpoint(min-width 481px);

// Navigation
$nav-v-padding: 20px;
$nav-background: #2db8a2;

// Link colors
$link-background-reg: #ff406e;

// Content blocks
$sec-v-padding: 40px;

// Header
$avatar-diam-mobile: 160px;
$intro-v-padding: 50px;
$intro-h-padding: 30px;

// Footer
$footer-height: 80px;
$footer-padding: 20px;

// Code
$code-background: #f5f5f5;
$code-border: 1px solid #ccc;
$code-radius: 3px;
$code-font: source-code-pro, monospace;
$code-font-size: 0.75em;

// Import specific styles
@import "navigation";
@import "blog";
@import "pages";
@import "syntax";

body {
  background: #484848;
  margin: 0;

  & a:hover {
    background-color: $link-background-reg;
  }
}

.container {
  @include outer-container;

  .content {
    @include media($not-mobile) {
      @include span-columns(8);
      @include shift(2);
      @include padding($sec-v-padding null $sec-v-padding null);
    }

    @include media($mobile) {
      @include span-columns(10);
      @include shift(1);
      @include padding($sec-v-padding null $sec-v-padding null);
    }
  }
}

a.footnote:before {
  content: "[";
}

a.footnote:after {
  content: "]";
}

.site-footer {
  @include position(fixed, null null 0 null);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  background: #484848;
  color: #f1f1f1;
  width: 100%;
  height: $footer-height;
  z-index: -1;

  & > span {
    text-align: center;
  }
}
