{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (2..lvl) %}../{% endfor %}{% endcapture %}
{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}: {{ page.title }}</title>
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" href="feed.xml">
    <!-- Style sheets -->
    <link href="{{ relative }}assets/css/felixjung.io.min.css" rel="stylesheet"><!-- Main stylesheet -->
    <!-- Javascript -->
    <!-- <script src="//use.typekit.net/ztt5dqe.js"></script> -->
    <!-- <script>try{Typekit.load();}catch(e){}</script> -->
  </head>
  <body>
  <nav {% if location == 'index.html' %}class="blog"{% elsif location == '404.html' %}class="error-not-found"{% else %}class="{{ location }}"{% endif %} role="navigation">
      <div class="container">
        <ul class="content">
          <li><a {% if location == 'index.html' %}class="active" {% endif %} href="/">Blog</a></li>
          <li><a {% if location == 'projects' %}class="active" {% endif %} href="/projects/">Projects</a></li>
          <li><a {% if location == 'about' %}class="active" {% endif %} href="/about/">About</a></li>
        </ul>
      </div>
    </nav>
