{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (2..lvl) %}../{% endfor %}{% endcapture %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}: {{ page.title }}</title>

    <!-- Style sheets -->
    <link href="{{ relative }}assets/css/felixjung.io.min.css" rel="stylesheet"><!-- Main stylesheet -->
    <!-- Javascript -->
    <script src="//use.typekit.net/ztt5dqe.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="{{ relative }}assets/js/felixjung.io.min.js"></script>
  </head>
  <body>
    <nav class="main" role="navigation">
      <div class="container">
        {% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
        <ul class="content">
          <li><a {% if location == '' %}class="active" {% endif %} href="/">Blog</a></li>
          <!-- <li><a {% if location == 'research' %}class="active" {% endif %} href="/research/">Research</a></li> -->
          <li><a {% if location == 'about' %}class="active" {% endif %} href="/about/">About</a></li>
        </ul>
      </div>
    </nav>
