<div id="sidebar-content">
  <!-- Page title -->
  <div id="site-title">
    <h1><a href="index.html">{{ site.name }}</b></a></h1>
  </div>
  <!-- Gravatar -->
  <img src="http://www.gravatar.com/avatar/d6dcd8c9eb423fdc1ab6e66c1592bbfc.png" alt="Gravatar" class="img-circle" id="gravatar"></br>
  <!-- Welcome -->
  <div id="site-welcome">
    {{ site.description }}
  </div>
  <!-- Social -->
  <div id="social-container">
    <a href="https://github.com/feju" target="_blank">
      <i class="fa fa-github fa-lg">
      </i>
    </a>
    <a href="https://twitter.com/feju" target="_blank">
      <i class="fa fa-twitter fa-lg">
      </i>
    </a>
    <a href="http://instagram.com/felixjung" target="_blank">
      <i class="fa fa-instagram fa-lg">
      </i>
    </a>
    <a href="https://foursquare.com/feju" target="_blank">
      <i class="fa fa-foursquare fa-lg">
      </i>
    </a>
    <a href="http://de.linkedin.com/pub/felix-jung/82/511/a27/" target="_blank">
      <i class="fa fa-linkedin-square fa-lg">
      </i>
    </a>
  </div>
</div>
