.blog-post {
  .post-date { font-weight: 100 }

  .read-more {
    display: inline-block;
    border-radius: 3px;
    width: 1.5em;
    line-height: 1.1em;
    text-align: center;
    color: #fff;
    background-color: transparentize(#000, .7);
  }


  .post-meta {
    $bubble-font-size: $base-font-size * 0.75;
    $bubble-category-color: lighten(#000, 70%);
    $bubble-category-radius: $base-border-radius;
    $bubble-tag-color: lighten(#000, 85%);
    $bubble-tag-radius: 2em;

    @include media($mobile) {
      .post-date:after {
        content: '\A';
        white-space: pre;
      }
      .post-date {
        margin-right: nothing;
      }
    }

    .bubble {
      @include padding(.25em .38em);
      display: inline-block;
      vertical-align: .25em;
      background: #333;
      font-size: $bubble-font-size;
      font-weight: 400;

      .fa {
        font-size: .7em;
        margin-right: 2px;
      }

    }

    .category {
      @include padding(null 0.38em);
      text-transform: uppercase;
      background: $bubble-category-color;
      color: darken($bubble-category-color, 50%);
      border-radius: $bubble-category-radius;
    }

    .tag {
      text-transform: lowercase;
      background: $bubble-tag-color;
      color: darken($bubble-tag-color, 50%);
      border-radius: $bubble-tag-radius;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .post-text {
    padding-top: 20px;

    .read-more {
      display: inline;
      text-transform: uppercase;
    }
  }

  & p code {
    background-color: $code-background;
    font-family: $code-font;
    border-radius: $code-radius;
    padding: .1em .4em;
    font-size: .7em;
    vertical-align: 8%;
  }

}

.page {
  padding-top: 3em;
}

nav.pagination {
  @include align-items(center);
  @include justify-content(center);
  @include padding(2em null);
  width: 100%;
  background: #fafbfc;
  text-align:center;
  margin-bottom: $footer-height;

  & span {
    @include padding(null 8px);
  }

  & .pag-inactive {
    color: #ddd;
  }

  & span.pag-text {
    font-size: 3em;
  }

  & a,
  a:link,
  a:visited,
  a:active {
    color: #aaa;
  }

  & a:hover {
    color: #ff406e;
    background: none;
  }
}
