{% include header.html %}
<article class="blog-post page">
  <div class="container">
    <div class="content">
      <h5 class="post-date">{{ page.date | date_to_string | upcase }}</h5>
      <h1 class="post-title"><a href="{{ page.url }}">{{ page.title | truncatewords: 7 }}</a></h1>
      {% if page.subtitle %}<h4 class="post-subtitle">{{ page.subtitle }}</h4>{% endif %}
      <p>
          {{ content}}
      </p>
      <div class="post-meta">
        {% if page.category or page.tags.size > 0 %}
            {% if page.category %}
            <span class="bubble category">{{ page.category }}</span>
            {% endif %}
            {% for tag in page.tags %}
            <span class="bubble tag">{{ tag }}</span>
            {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% include footer.html %}
